:root {
    --color-white: #fff;
    --color-primary-light: #f5dbdb;
    --color-primary-blue: #1976D2;
    --color-primary-accent: rgb(31, 30, 30);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    text-align: center;
    color: var(--color-primary-light);
    min-width: 21rem;
}

a, a::before {
    text-decoration: none;
    color: var(--color-primary-light);
}

/* .container--accent {
    background-color: var(--color-primary-light);
} */

.thin {
    padding: 5rem 0;
}

.thick {
    padding: 9rem 0;
}

h1, h2, h3{
    margin-bottom: .8rem;
}

.posts {
    padding: 1rem 0;
}

.posts .content {
    margin-bottom: 1rem;
}

.posts h3 {
    text-transform: uppercase;
}

.post {
    padding: 1rem 1.5rem;
    text-align: left;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    background-color: var(--color-primary-blue);
}

.post:last-child {
    margin-bottom: 2rem;
}

.post:not(:last-child) {
    margin-bottom: 1rem;
}

.username{
    width: fit-content;
}

.username:hover {
    color: purple;
    cursor: pointer;
}

.author {
    line-height: 1.5rem;
}

.author .post {
    width: fit-content;
}

.author .content{
    padding: .5rem 1rem;
}

.author span{
    margin-left: .3rem
}

.inputs {
  margin-bottom: 1rem;  
}


